#portfolioSection {
    min-height: 500px;
}

#portfolioSection h3 {
    font-size: 35px;
}

.info-background {
    background-color: rgba(194, 160, 204, 0.3);
    padding: 15px;
    border-radius: 10px;
}

.tech-used {
    width: 20px;
    height: auto;
    margin: 4px;
}

.link-icons {
    font-size: 25px;
    margin: 5px;
    color: #000000;
}

.link-icons:hover {
    color: #64ffda;
}

.web-image:hover {
    animation: pulse; 
    animation-duration: 2s;
}