#portfolioSection {
    min-height: 500px;
}

#portfolioSection h3 {
    font-size: 35px;
}

.info-background {
    background-color: rgba(194, 160, 204, 0.3);
    padding: 15px;
    border-radius: 10px;
}

.info-background:hover {
    background-color: rgba(194, 160, 204, 0.3);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tech-used {
    width: 20px;
    height: auto;
    margin: 4px;
}

.link-icons {
    font-size: 25px;
    margin: 5px;
    color: #000000;
}

.link-icons:hover {
    color: #64ffda;
}

.web-image {
    margin-top: 15px;
    margin-bottom: 15px;
}

.web-image:hover {
    animation: pulse; 
    animation-duration: 2s;
}

.project-description {
    text-align: justify;
    font-size: 19px;
}

/* Media Queries */

@media screen and (max-width: 900px) {
    .web-image {
        width: 500px;
        height: auto;
    }
}

@media screen and (max-width: 450px) {
    #portfolioSection h3 {
        font-size: 28px;
    }

    .project-description {
        text-align: justify;
        font-size: 16px;
    }
}

@media screen and (max-width: 350px) {
    #portfolioSection h3 {
        font-size: 23px;
    }
    .project-description {
        text-align: justify;
        font-size: 14px;
    }
}