/* Global CSS Classes here */

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


html,body {
  margin: 0;
}

/* Fonts used */

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-outfit {
  font-family: 'Outfit', sans-serif;
}

.font-exo {
  font-family: 'Exo 2', sans-serif;
}

.web-title {
  font-size: 45px;
  letter-spacing: 2px;
  color: #f0ad4e;
}

.web-hr {
  width: 80%;
}

.web-p {
  text-align: justify;
  font-size: 18px;
}

/* Website background */

.site-background-color {
  background-color: #211522;
}

/* Navbar and Footer*/

.background-color {
  background-color: #49274A;
}

.circle-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.background-color .navbar-brand {
  color: #FAFAFA;
  letter-spacing: 0.09em; 
}

.background-color .navbar-brand:hover,
.background-color .navbar-brand:focus {
    color: #F8EEE7;
}

.background-color .navbar-nav .nav-link {
  color: #FAFAFA;
} 

.background-color .navbar-nav .nav-item .nav-link.active,
.background-color .navbar-nav .nav-item .nav-link:hover,
.background-color .navbar-nav .nav-item .nav-link:focus,
.background-color .navbar-nav .nav-item .nav-link:active{
  color: #FFFFFF;
  background-color: #94618E;
  border-radius: .3rem;
}

footer {
  min-height: 50px;
}

footer p {
  font-size: 14px;
}

#footer-icons a {
  color: #FAFAFA
}

#footer-icons a:hover,
#footer-icons a:focus {
  color: #f0bae9;
  animation: rubberBand; 
  animation-duration: 2s; 
}

/* ScrollButton */

.scroll-button {
  height: 42px;
  width: 42px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: transparent;
}

.scroll-button:focus {
  background-color: transparent;
} 

.scroll-button:hover {
  background-color: rgba(34, 0, 40, 0.6);
}

/* Media Queries */

@media screen and (max-width: 350px) {
  .background-color .navbar-brand {
    color: #FAFAFA;
    font-size: 20px;
    letter-spacing: 0.09em; 
  }
}

@media screen and (max-width: 450px) {
  .web-title {
    font-size: 34px;
    letter-spacing: 2px;
    color: #f0ad4e;
  }

  .web-hr {
    width: 95%;
  }

  .web-p {
    text-align: justify;
    font-size: 16px;
  }
}