@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


html,body {
  margin: 0;
}

/* Fonts used */

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-outfit {
  font-family: 'Outfit', sans-serif;
}

.font-exo {
  font-family: 'Exo 2', sans-serif;
}

/* Navbar and Footer*/

.background-color {
  background-color: #49274A;
}

.background-color .navbar-brand {
  color: #FAFAFA;
  letter-spacing: 0.09em; 
}

.background-color .navbar-brand:hover,
.background-color .navbar-brand:focus {
    color: #F8EEE7;
}

.background-color .navbar-nav .nav-link {
  color: #FAFAFA;
} 

.background-color .navbar-nav .nav-item .nav-link.active,
.background-color .navbar-nav .nav-item .nav-link:hover,
.background-color .navbar-nav .nav-item .nav-link:focus,
.background-color .navbar-nav .nav-item .nav-link:active{
  color: #FFFFFF;
  background-color: #94618E;
  border-radius: .3rem;
}

/* Media Queries */

@media screen and (max-width: 350px) {
  .background-color .navbar-brand {
    color: #FAFAFA;
    font-size: 20px;
    letter-spacing: 0.09em; 
  }
}